# Database
DB_HOST="localhost"
DB_PORT=1433
DB_NAME="kon"
DB_USER="myuser"
DB_PASSWORD="YourPassword123"
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true

# Server
SV_PORT=3000
SV_LOG_LEVEL="debug"

# Tokens
# require('crypto').randomBytes(64).toString('hex')
ACCESS_TOKEN_SECRET="abcdef"
ACCESS_TOKEN_EXPIRES_IN="30m"

REFRESH_TOKEN_SECRET="abcdef"
REFRESH_TOKEN_EXPIRES_IN="1d"

CSRF_TOKEN_SECRET="abcdef"

# Limiters
GENERAL_LIMITER_WINDOW="15m"
GENERAL_LIMITER_REQUESTS=200
GENERAL_LIMITER_TRUST_PROXY=true
GENERAL_LIMITER_HIDE_HEADERS=true

AUTH_LIMITER_WINDOW="15m"
AUTH_LIMITER_REQUESTS=20

# Frontend
FRONTEND_URL="http://localhost:5173"